:root {
  --bg-dark: #000000;
  --gold: #BDAE82;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.section
.footer {
  margin: 0;
  padding: 0;
}

/* --- HEADER --- */

.header {
  padding: 0 20px;
  background-color: #f2f5f7;
}

/* --NAV --*/

.header-nav {
}
.header-nav-block {
}
.header-nav-block-items {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 0;

}
.header-nav-block-item {
  list-style: none;
  color: #3B6D8A;
}

.header-nav-block-item:hover {
  color: #582646;
  text-decoration: underline;
}

.header-nav-block-item-active {
  color: #582646;
}

/* --- MAIN --- */
/* -- H1 -- */

.category {
  margin: 0 2% 2%;
  text-align: center;
  font-size: 28px;
  font-style: italic;
}

.category-h1 {
  color: #582646;
}

/* -- CARD -- */

.section-card {
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  font-size: 72px;
  letter-spacing: .3rem;
  font-weight: 500;
  text-align: center;
}

.card {
  float: left;
  perspective: 500px;
  display: flex;
  justify-content: space-around;
  padding: 4%;
  height: 460px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1%;
  width: 100%;
  background: #f2f5f7;
  color: #3B6D8A;
  box-shadow: 0 0 15px rgba(129,161,180,0.1);
  transition: transform 0.3s;
}

.card-flip .card-content-flip {
  transform: rotateX( 180deg ) ;
  transition: transform 0.2s;
}

.card-content-flip {
  background: #ECF0E4;
  color: #6D8A3B;
  box-shadow: 0 0 15px rgb(109,138,59,0.1);
}

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 4%;
}

.rus {
  border-radius: 5px;
  backface-visibility: hidden;
}

.eng-show {
  transform: rotateX( 180deg );
}

.card-content-word {}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 4%;
  padding: 2%;
  height: 10%;
  font-size: 48px;
  float: left;
  perspective: 500px;
  background: #582646; /* #f2f5f7; */
  color: white; /* #81a1b4; */
  box-shadow: 0 0 15px rgb(138,59,109,0.3);
}

/* --- FOOTER --- */

.copywrite {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  color: #3B6D8A;
  height: 50px;
}

/* MEDIA 768px */
/* ------------*/

@media (max-width: 768px) {

  .section-card {
    font-size: 36px;
    letter-spacing: .1rem;
  }

  .card {
    height: 360px;
  }

  .btn {
    height: auto;
    font-size: 42px;
  }
}