:root {
  --bg-dark: #000000;
  --gold: #BDAE82;
  --white: #ffffff;
  --btn: #ad4b89;
  --link-hover: #582646;
  --text-blue: #3B6D8A;
  --bg-blue: #f2f5f7;
  --text-green: #6D8A3B;
  --bg-green: #ECF0E4;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

a:link {
  color:var(--link);
}

a:visited {
  color:var(--btn)
}

a:hover {
  font-size: 1.1em; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li, ol {
  padding-left: 5px;
  padding-bottom: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.section
.footer {
  margin: 0;
  padding: 0;
}

/* --- HEADER --- */

.header,
.footer {
  padding: 0 20px;
  background-color: var(--bg-blue);
}

/* -- INFO --*/
.section-info {
  display: contents;
  margin: 0 2% 2%;
  padding: 0 4%;
  width: 100vw;
  height: 100vh;
}

.info-none {
  display: none;
}

.info-text {
  max-width: 85%;
  margin: 0px auto;
  padding: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-blue);
  background-color: var(--bg-blue);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(129,161,180,0.3);
}

.info-button {
  border: 1px solid var(--text-blue);
  border-radius: 30px;
  background: var(--text-blue);
  color: var(--bg-blue);
}

.info-button:hover {
  cursor: pointer;
}

/* --NAV --*/

.header-nav {
}
.header-nav-block {
}
.header-nav-block-items {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 0;
  
}
.header-nav-block-item {
  list-style: none;
  color: var(--text-blue);
}

.header-nav-block-item:hover {
  color: var(--link-hover);
  text-decoration: underline;
  cursor: pointer;
}

.header-nav-block-item-active {
  color: var(--link-hover);
}

/* --- MAIN --- */
/* -- H1 -- */

.category {
  margin: 0 2% 2%;
  text-align: center;
  font-size: 28px;
}

.category:hover {
  cursor: pointer;
}

.category-h1 {
  color: var(--btn);
}

/* -- CARD -- */

.section-card {
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  font-size: 72px;
  letter-spacing: .3rem;
  font-weight: 500;
  text-align: center;
}

.card {
  float: left;
  perspective: 500px;
  display: flex;
  justify-content: space-around;
  padding: 4%;
  height: 460px;
}

.card:hover {
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1%;
  width: 100%;
  background: var(--bg-blue);
  color: var(--text-blue);
  box-shadow: 0 0 15px rgba(129,161,180,0.3);
  transition: transform 0.3s;
}

.card-content-flip {
  background: var(--bg-green);
  color: var(--text-green);
  box-shadow: 0 0 15px rgb(109,138,59,0.3);
  transition: transform 0.2s;
}

.card-flip .card-content-flip {
  transform: rotateX(180deg) ;
  transition: transform 0.2s;
}

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 4%;
}

.rus {
  border-radius: 5px;
  backface-visibility: hidden;
}

.eng-show {
  transform: rotateX( 180deg );
}

.card-content-word {
  text-shadow: 0 0 15px rgb(109,138,59,0.3);
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 4%;
  padding: 2%;
  height: 10%;
  font-size: 48px;
  float: left;
  perspective: 500px;
  background: var(--btn); /* #f2f5f7; */
  color: white; /* #81a1b4; */
  box-shadow: 0 0 15px rgb(138,59,109,0.3);
}

.btn-text {
  text-shadow: 0 0 10px rgb(255,255,255,0.3);
}

/* --- FOOTER --- */

.copywrite {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  color: var(--text-blue);
  height: 50px;
}

/* MEDIA 768px */
/* ------------*/

@media (max-width: 768px) {

  .category {
    font-size: 18px;
  }

  .section-card {
    font-size: 30px;
    letter-spacing: .1rem;
  }

  .card {
    height: 320px;
  }

  .btn {
    height: auto;
    font-size: 32px;
    padding: 4% 0;;
  }

  .footer {
    font-size: 0.7em;
  }
}
